---
import MainLayout from '@camomillacms/astro-integration/layouts/MainLayout.astro'
import TestReact from '../components/react/Test.jsx'
import Test from '../components/vue/Test.vue'
const user = Astro.locals.camomilla?.user ?? null
---

<MainLayout>
  <div class="box" transition:name="box"></div>
  <TestReact client:load />
  <a href="/custom">Vai a custom</a>
  <a href="/test">Vai a test</a>
  <Test client:load title={user ? `Hello ${user.first_name}!` : 'Hello World ðŸŒ'} />
</MainLayout>

<style is:inline>
  .box {
    width: 250px;
    height: 250px;
    background-color: red;
  }
</style>
