---
import MainLayout from "@camomillacms/astro-integration/layouts/MainLayout.astro";
import Test from "../../components/vue/Test.vue";
---

<MainLayout>
  <div class="box" transition:name="box"></div>
  <a href="/">Vai a homepage</a>
  <a href="/custom">Vai a custom</a>
  <Test client:load title="Hello World ðŸŒ" />
</MainLayout>

<style is:inline>
  .box {
    width: 250px;
    height: 250px;
    background-color: red;
    margin-left: auto;
  }
</style>
