---
import { ClientRouter } from "astro:transitions";
import TestReact from "../components/react/Test";
import Test from "../components/vue/Test.vue";
import "../styles/main.scss";
---

<!-- Create a custom random html page --><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Page</title>
    <ClientRouter />
    <!-- <link rel="stylesheet" href="/styles/main.scss" /> -->
  </head>
  <body>
    <h1>Random Page</h1>
    <div class="box" transition:name="box"></div>
    <a href="/test">Vai a test</a>
    <p>This is a random page</p>
    <TestReact client:load />
    <Test client:load title="Hello World ðŸŒ" />
  </body>
</html>

<style is:inline>
  .box {
    width: 250px;
    height: 250px;
    background-color: red;
    margin-left: 500px;
  }
</style>
