---
import MainLayout from '@camomillacms/astro-integration/layouts/MainLayout.astro'
import '../styles/main.scss'
---

<!-- Create a custom random html page --><!doctype html>
<MainLayout lang="it">
  <body>
    <h1>Pagina di Test della Lingua</h1>
    <p>Questa è una pagina di test della lingua</p>
  </body>
</MainLayout>
