---
import MainLayout from '@camomillacms/astro-integration/layouts/MainLayout.astro'
import '../styles/main.scss'
---

<!-- Create a custom random html page --><!doctype html>
<MainLayout>
  <body>
    <h1>Seo Test Page</h1>
    <p>This is a seo test page</p>
  </body>
</MainLayout>
